<h1> <%= @cat.name %> </h1>

<table> 
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Color</th>
        <th>Sex</th>
        <th>Description</th>
    </tr>
    <tr>
        <td><%=@cat.name%></td>
        <td><%=@cat.age%></td>
        <td><%=@cat.color%></td>
        <td><%=@cat.sex%></td>
        <td><%=@cat.description%></td>
    </tr>
</table>