<h1> <%= @cat.name %> </h1>

<table> 
    <tr>
        <th>Attribute</th>
        <th>Value</th>
    </tr>
    <% %i(birth_date age sex color description).each do |attr_name| %>
        <tr>
            <td><%=attr_name%></td>
            <td><%= @cat.send(attr_name) %></td>
        </tr>
    <%end%>
</table>
<br><br>

<a href="<%= edit_cat_url(@cat) %>">Edit <%= @cat.name %></a>
<br><br>

<% unless @requests.empty? %>
    <h2>Rental requests <h2>
    <table>
        <tr>
            <th>Start date</th>
            <th>End date</th>
            <th>Status</th>
        </tr>
        <%= render @requests%>   
    </table>
    <br><br>
<%end%>
<a href="<%=cats_url%>">All cats</a>